* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul {
    list-style-type: none;
    display: inline-block;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;

}

a {
    text-decoration: none;
}
nav ul li button {
    border-radius: 15px;
    padding: 15px 20px;
    color: blue;  
    border-color: blue;
    background-color: white;
    font-size: 15px;
}

nav ul li button:hover {background-color: skyblue}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}


h1  {
    text-align: center;
    font-family: "eurostile", sans-serif;
    font-size: 40px;
    padding-top: 25px;
    margin-top: 50px;
    font-weight: bolder;
}

h2 {
    text-align: center;
    font-size: medium;
    padding: 20px 0px 50px 0px;  
    font-weight: lighter;
    font-size: 18px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 40px,0px,0px,0px;
}

.container-intro{
    background-color: #7510F7;
    height: 600px;
    
    text-align: center;
}

.center-column{
    display: flex;
    align-items: center;
    margin:70px ;
    border-top-right-radius: 10px;
    
    
}

.column {
    height: 650px;
    width: 300px;
    background-color: white;
    flex-basis: 33%;
    min-width: 250px;
    text-align: center;
    border: 0.5px solid rgba(0, 0, 0, 0.274);
    
    
   
    
}



div ul {
    list-style-type: none;
    display: inline-block;
    line-height: 2;
}



.rework-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 75px;
    
  }

  .item {
    flex: 0 32%;
    width: 50px;
    height: 200px;
     border: 0.5px solid; 
    margin-bottom: 15px;
    border-radius: 25px;
  }

  .rework-img{
      width: 382px;
      height: 200px;
      border-radius: 25px;
  }

  .comp-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
  }
  .it {
    flex: 0 25%;
    width: 25px;
    height: 100px;
    /* border: 0.5px solid;  */
    margin-bottom: 15px;
    border-radius: 25px;
    
  }

  

